---
title: "まいかつ　舞鶴高専プログラミングラボ"
layout: splash
date: 2016-03-23T11:48:41-04:00
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/unsplash-image-1.jpg
  actions:
    - label: "活動について"
      url: "https://maizuruprogramming.github.io/about/"
  caption: "Photo credit: Yasuhito INOUE"
excerpt: "2026年9月に創立．現在準備中！"
intro:
  - excerpt: '小中学校において、プログラミング教育が必修になり、プログラミングに対して多くの関心が集まっています。本活動では、舞鶴高専の教職員、学生が講師となり、プログラミングの学習を通じて、中学生の発想力、表現力、技術力の向上を目指します。その活動の成果を、毎年秋に実施される舞鶴高専杯プログラミングコンテストなどで発表します。'
---

{% include feature_row id="intro" type="center" %}

<div style="display: flex; justify-content: space-between; gap: 20px; text-align: center;">
  <!-- 1つ目 -->
  <div style="flex: 1;">
    <p><i class="fas fa-rocket fa-3x"></i></p>
    <h3>舞鶴高専プログラミングラボ</h3>
    <p>舞鶴高専プログラミングラボについて記載しています．</p>
    <p><a href="/about/" class="btn btn--primary">活動について</a></p>
  </div>

  <!-- 2つ目 -->
  <div style="flex: 1;">
    <p><i class="fas fa-book fa-3x"></i></p>
    <h3>規約</h3>
    <p>舞鶴高専プログラミングラボの規約について掲載しています．</p>
    <p><a href="/kiyaku/" class="btn btn--info">規約</a></p>
  </div>

  <!-- 3つ目 -->
  <div style="flex: 1;">
    <p><i class="fas fa-envelope fa-3x"></i></p>
    <h3>活動報告</h3>
    <p>私たちの活動記録を見ることができます．</p>
    <p><a href="/post/" class="btn btn--success">活動報告</a></p>
  </div>
</div>

<h3>最近の活動</h3>

<div class="grid__wrapper">
  {% for post in site.posts <limit:4></limit:4> %}
    {% include archive-single.html type="grid" %}
  {% endfor %}
</div>



