---
title: "まいかつ　舞鶴高専プログラミングラボ"
layout: splash
date: 2016-03-23T11:48:41-04:00
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/unsplash-image-1.jpg
  actions:
    - label: "活動について"
      url: "https://maizuruprogramming.github.io/about/"
  caption: "Photo credit: Yasuhito INOUE"
excerpt: "2026年9月に創立．現在準備中！"

feature_row2:
  - image_path: /assets/images/2026_maikatsu.png
    alt: "まいかつ"
    title: "まいかつ"
    excerpt: '2026年9月から開始となる舞鶴市の地域クラブ活動です．'
    url: "https://maikatsu.jp/"
    btn_label: "まいかつ"
    btn_class: "btn--primary"
feature_row3:
  - image_path: /assets/images/splash01.png
    alt: "舞鶴高専杯プログラミングコンテスト"
    title: "舞鶴高専杯プログラミングコンテスト"
    excerpt: '2021年より，小中学生のプログラミング技術の向上のために開催しています．'
    url: "https://sites.google.com/view/maizuru-programming-contest/"
    btn_label: "舞鶴高専杯プログラミングコンテスト"
    btn_class: "btn--primary"
feature_row4:
  - image_path: /assets/images/splash02.png
    alt: "U-15プログラミングコンテスト舞鶴大会"
    title: "U-15プログラミングコンテスト舞鶴大会"
    excerpt: 'U-15プログラミングコンテスト舞鶴大会は、小中学生を対象にしたITイベントです。CHaserを使ったと競技部門を開催し、創造力と論理力を育みます。'
    url: "https://u15-procon.maizuru-ct.ac.jp/"
    btn_label: "U-15プログラミングコンテスト舞鶴大会"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}
{% include feature_row id="feature_row2" type="left" %}
{% include feature_row id="feature_row3" type="left" %}
{% include feature_row id="feature_row4" type="left" %}