---
title: "まいかつ　舞鶴高専プログラミングラボ"
layout: splash
date: 2016-03-23T11:48:41-04:00
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/unsplash-image-1.jpg
  actions:
    - label: "活動について"
      url: "https://maizuruprogramming.github.io/about/"
  caption: "Photo credit: Yasuhito INOUE"
excerpt: "2026年9月に創立．現在準備中！"
intro:
  - excerpt: ''
---


<div class="grid__wrapper">
  <div class="archive__item" style="text-align: center;">
    <div style="margin-bottom: 10px;">
      <i class="fas fa-rocket fa-3x" style="color: #2b2b2b;"></i>
    </div>
    <h3 class="archive__item-title">機能 1</h3>
    <p class="archive__item-excerpt">1つ目の説明テキスト。</p>
    <p><a href="/link1/" class="btn btn--primary">ボタン 1</a></p>
  </div>

  <div class="archive__item" style="text-align: center;">
    <div style="margin-bottom: 10px;">
      <i class="fas fa-book fa-3x" style="color: #2b2b2b;"></i>
    </div>
    <h3 class="archive__item-title">機能 2</h3>
    <p class="archive__item-excerpt">2つ目の説明テキスト。</p>
    <p><a href="/link2/" class="btn btn--info">ボタン 2</a></p>
  </div>

  <div class="archive__item" style="text-align: center;">
    <div style="margin-bottom: 10px;">
      <i class="fas fa-envelope fa-3x" style="color: #2b2b2b;"></i>
    </div>
    <h3 class="archive__item-title">機能 3</h3>
    <p class="archive__item-excerpt">3つ目の説明テキスト。</p>
    <p><a href="/link3/" class="btn btn--success">ボタン 3</a></p>
  </div>
</div>

<h3>最近の活動</h3>

<div class="grid__wrapper">
  {% for post in site.posts <limit:4></limit:4> %}
    {% include archive-single.html type="grid" %}
  {% endfor %}
</div>



